<form [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
<body class="gray-bg">
  <div class="login-part">
      <div class="lg-logo">
           <img src="/assets/img/logo.png" alt="">
      </div>
      <ng-flash-message></ng-flash-message>
      <div class="login-form">
             <div class="def-title text-center">
              <h2>Forgot Password</h2>
          </div>
           <div class="form-group">
                <label>Email ID <span>*</span></label> 
                 <input class="form-control" type="text" formControlName="email">
                 <div *ngIf="email.touched && email.invalid" class="alert alert-danger">Email Id required</div>
           </div>
           <div class="form-group">
               <label>Security Question </label>
               <select class="form-control" [(ngModel)]="id" formControlName="securityQuestion" (change)="($event.target.value)">
               <option [ngValue]="undefined" disabled  selected hidden> Please select Question </option>    
               <option *ngFor="let questions of question" [ngValue]="questions._id">{{questions.question}}</option>
        </select>
        <div *ngIf="securityQuestion.touched && securityQuestion.invalid" class="alert alert-danger">Please choose security question</div>
       </div>
           <div class="form-group">
                <label>Answer <span>*</span></label>
                 <input class="form-control" type="text" formControlName="answer">
                 <div *ngIf="answer.touched && answer.invalid" class="alert alert-danger">Please Enter Answer</div>
           </div>
           <div class="login-btn">
                 <input class="btn btn-primary" type="submit" [disabled]="recoverForm.invalid" value="Submit">
           </div>
      </div>
  </div>
</body>
</form>