<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="breadcrumb-main">
            <ol class="breadcrumb">
              <li><a routerLink='/manage-project'>Manage Projects</a></li>
              <li><a routerLink='/project-details'>Projects Details</a></li>
              <li><a routerLink='/project-insight'>Projects Insights</a></li>
              <li class="active">Sales Graph</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="row page-heading">
            <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12 top-title-bar">
              <h2>Sales Graph</h2>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-right">
              <div class="google-link">
                <a href="#"><img src="/assets/img/google-charts.png" alt=""> Use google charts</a>
              </div>
            </div>
          </div>

          <div class="global-sales-report-img-part text-center">
            <img src="/assets/img/sales-chart.jpg" alt="">
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="title-part clearfix">
            <h2>Sales Income</h2>
          </div>

          <div class="coman-table table-responsive">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>Source</th>
                  <th>Name</th>
                  <th>Role</th>
                  <th>Country</th>
                  <th>Amount</th>
                  <th>Date</th>
                </tr>
                <tr>
                  <td>Box office Mojo</td>
                  <td>Bleeker Street</td>
                  <td>Domestic Distributor</td>
                  <td>USA</td>
                  <td>$1400000</td>
                  <td>01/11/2019</td>
                </tr>
                <tr>
                  <td>Box office Mojo</td>
                  <td>The Jokers</td>
                  <td>Foreign Distrubutor</td>
                  <td>France</td>
                  <td>$225000</td>
                  <td>01/11/2019</td>
                </tr>
                <tr>
                  <td>Comscore.com</td>
                  <td>AMC Theaters</td>
                  <td>Theater Chain</td>
                  <td>USA</td>
                  <td>$650000</td>
                  <td>01/11/2019</td>
                </tr>
                <tr>
                  <td>Box office Mojo</td>
                  <td>Koch</td>
                  <td>Foreign Distributor</td>
                  <td>Germany</td>
                  <td>$425000</td>
                  <td>01/11/2019</td>
                </tr>
                <tr>
                  <td>XYZ Films</td>
                  <td></td>
                  <td>VOD</td>
                  <td>USA</td>
                  <td>$300000</td>
                  <td>05/30/2019</td>
                </tr>
                <tr>
                  <td>Comscore.com</td>
                  <td>Amazon</td>
                  <td>Streaming/DVD</td>
                  <td>USA</td>
                  <td>$350000</td>
                  <td>05/30/2019</td>
                </tr>
                <tr>
                  <td>XYZ Films</td>
                  <td>Delta Air</td>
                  <td>Airline</td>
                  <td>Worldwide</td>
                  <td>250000</td>
                  <td>05/30/2019</td>
                </tr>
                <tr>
                  <td>XYZ Films</td>
                  <td>Netflix</td>
                  <td>Streaming</td>
                  <td>Worldwide</td>
                  <td>$750000</td>
                  <td>05/30/2019</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>