<ng-flash-message></ng-flash-message>
<form [formGroup]="AcctEditForm" (ngSubmit)="onSubmit()" >
          <div class="wrapper wrapper-content">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="ibox">
                       <div class="ibox-content">
                             <div class="row page-heading">
                                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12 top-title-bar">
                         <h2>Bank Account Details</h2>
                       </div>
                                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-right">
                                </div>
                           </div>
                             <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                         <label><strong>Account No.</strong></label>
                                         <input  formControlName="accountNo" [ngModel]="accountNos" class="form-control">
                                          <div *ngIf="accountNo.invalid" class="alert alert-danger">
                                               <div *ngIf="accountNo.errors.maxlength">Bank Account no shoud be maximum 15 digits</div>
                                                <div *ngIf="accountNo.errors.NumberOnly"> Please Enter Account No only in number</div>
                                           </div>
                                     </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                         <label><strong>Account Holder</strong></label>
                                         <input type="text" formControlName="accountHolder"  [ngModel]="accountHolders" class="form-control">
                                         <div *ngIf="accountHolder.invalid" class="alert alert-danger">Please Enter account Holder Name in character                              </div>
                                    </div>
                                </div>
                             </div>
                             <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                         <label><strong>Bank Name</strong></label>
                                         <input formControlName="bankName" [ngModel]="bankNames" class="form-control">
                                         <div *ngIf="bankName.invalid" class="alert alert-danger">
                                           <div *ngIf="bankName.errors.textOnly"> Please Bank Name in character Only</div>
                                       </div>
                                     </div>
                                </div> 
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                         <label><strong>Bank Address</strong></label>
                                         <input type="text" formControlName="bankAddress" [ngModel]="bankAddresss"  class="form-control">
                                         <div *ngIf="bankAddress.invalid" class="alert alert-danger">Plaese Enter Bank Address </div>
                                     </div>
                                </div>
                             </div>
                             <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                         <label><strong>ABA No.</strong></label>
                                         <input type="number" formControlName="abaNo" [ngModel]="abaNos" class="form-control">
                                         <div *ngIf="abaNo.invalid" class="alert alert-danger">
                                            <div *ngIf="abaNo.errors.NumberOnly"> Please Enter ABA No only in number</div>
                                       </div>
                                     </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                         <label><strong>Swift Code</strong></label>
                                         <input type="text" formControlName="swiftCode" [ngModel]="swiftCodes"   class="form-control">
                                         <div *ngIf="swiftCode.invalid" class="alert alert-danger">Plaese Enter Swift Code </div>
                                     </div>
                                </div>
                             </div>
                             <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                          <label><strong>Routing No.</strong></label>
                                          <input type="number" formControlName="routingNo" [ngModel]="routingNos" class="form-control">
                                          <div *ngIf="routingNo.invalid" class="alert alert-danger">
                                           <div *ngIf="routingNo.errors.NumberOnly"> Please Enter Routing No only in number</div>
                                       </div>
                                     </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                         <label><strong>Country Code</strong></label>
                                         <input formControlName="countryCode" [ngModel]="countryCodes" class="form-control">
                                         <div *ngIf="countryCode.invalid" class="alert alert-danger">
                                           <div *ngIf="countryCode.errors.NumberOnly"> Please Enter Country Code only in number</div>
                                           <div *ngIf="countryCode.errors.maxlength">Country code shoud be  maximum 4 digits</div>
                                    </div>
                                  </div>
                                </div>
                             </div>
        
                             <div class="clearfix my-btn-grp">
                                <button type="submit" class="btn btn-primary" [disabled]="AcctEditForm.invalid">Save</button>
                                <a routerLink='/bank-account-details' class="btn btn-primary">Cancel</a>
                             </div>
                       </div>
                  </div>
              </div>
            </div>
         </div>
        </form>
        <ngx-spinner
        bdColor="rgb(50, 65, 59)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple">
       <p style="font-size: 20px; color: rgb(245, 248, 247)">Loading...</p>
      </ngx-spinner>
