<p>
  money-distribution works!
</p>
<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="ibox">
               <div class="ibox-content">
                  <div class="breadcrumb-main">
                      <ol class="breadcrumb">
               <li><a href="manage-project.html">Manage Projects</a></li>
               <li><a href="project-details.html">Projects Details</a></li>
               <li><a href="project-insights.html">Projects Insights</a></li>
               <li class="active">Money Distribution</li>
             </ol>
                  </div>
               </div>
         </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="ibox">
               <div class="ibox-content">
                  <div class="row page-heading">
                      <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12 top-title-bar">
               <h2>Money Distribution</h2>
             </div>
                      <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-right">
                          
                      </div>
                  </div>
                  
                  <div class="coman-table table-responsive">
                        <table class="table table-bordered">
                              <tr>
                                  <th>Stakeholder Name</th>
                                  <th>Role</th>
                                  <th>Phase No.</th>
                                  <th>Payment</th>
                                  <th>Last Payment</th>
                                  <th>Percentage of Phase No.</th>
                              </tr>
                              <tr>
                                  <td>Sony</td>
                                  <td>Investor</td>
                                  <td>1</td>
                                  <td>$5000</td>
                                  <td>10-12-2018</td>
                                  <td>10</td>
                              </tr>
                              <tr>
                                  <td>ABC Productions</td>
                                  <td>Investor</td>
                                  <td>1</td>
                                  <td>$5000</td>
                                  <td>15-06-2017</td>
                                  <td>10</td>
                              </tr>
                              <tr>
                                  <td>John Doe</td>	
                                  <td>Investor</td>
                                  <td>1</td>
                                  <td>$3000</td>
                                  <td>22-05-2018</td>
                                  <td>20</td>
                              </tr>
                              <tr>
                                  <td>Thirteen Equity</td>
                                  <td>Investor</td>
                                  <td>1</td>
                                  <td>$2000</td>
                                  <td>21-10-2018</td>
                                  <td>15</td>
                              </tr>
                              <tr>
                                  <td>Sony</td>
                                  <td>Investor</td>
                                  <td>1</td>
                                  <td>$5000</td>
                                  <td>10-12-2018</td>
                                  <td>10</td>
                              </tr>
                              <tr>
                                  <td>ABC Productions</td>
                                  <td>Investor</td>
                                  <td>1</td>
                                  <td>$5000</td>
                                  <td>15-06-2017</td>
                                  <td>10</td>
                              </tr>
                              <tr>
                                  <td>John Doe</td>	
                                  <td>Investor</td>
                                  <td>1</td>
                                  <td>$3000</td>
                                  <td>22-05-2018</td>
                                  <td>20</td>
                              </tr>
                              <tr>
                                  <td>Thirteen Equity</td>
                                  <td>Investor</td>
                                  <td>1</td>
                                  <td>$2000</td>
                                  <td>21-10-2018</td>
                                  <td>15</td>
                              </tr>
                      </table>
                  </div>
                  
               </div>
         </div>
    </div>
 </div>
</div>
 
