<body class="gray-bg">
     <div class="login-part">
          <div class="lg-logo">
               <a routerLink='dashboard'><img src="/assets/img/logo.png" alt=""></a>
          </div>
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <div class="login-form">
           <ng-flash-message></ng-flash-message>

               <div class="def-title text-center">
                    <h2>Change Password</h2>
               </div>
               <div class="form-group">
                    <label>New Password <span>*</span></label>
                    <input class="form-control" type="password" formControlName="password">
                     <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                          <div>Please Enter New Password  and length must be minimum 6</div>
                     </div>
               </div>
               <div class="form-group">
                    <label>Confirm Password <span>*</span></label>
                    <input class="form-control" type="password" formControlName="confirmPassword">
                     <div *ngIf="confirmPassword.touched  && confirmPassword.invalid" class="alert alert-danger">Please Same Password
                     <div *ngIf="confirmPassword.errors.MustMatch"> Please Same Password </div>
                     </div>
              
               </div>
               <div class="login-btn">
                    <input class="btn btn-primary" type="submit" [disabled]="changePasswordForm.invalid" value="Change Password">
               </div>
          </div>
        </form>

     </div>

     <!-- this is new -->