<div>
  <div class="wrapper wrapper-content">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="ibox">
          <div class="ibox-content">
            <div class="breadcrumb-main">
              <ol class="breadcrumb">
                <li><a routerLink="/support-request-listing-page">Notification</a></li>
                <li class="active">Support Request</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="ibox">
          <div class="ibox-content">
            <div class="row page-heading">
              <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12 top-title-bar">
                <h2>Support Request</h2>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-right">

              </div>
            </div>
            <div *ngIf="myIssues != true">
              <div class="support-req-details" *ngIf="blank!=true">
                <div class="ibox chat-view">

                  <div class="user-heading clearfix">
                    <div class="image">
                      <img src="/assets/img/prf-img.png" alt="">
                    </div>
                    <div class="text">
                      <h3
                        *ngIf="filterRequest && filterRequest.raisedBy && filterRequest.raisedBy.stakeholderName != '' || undefined">
                        {{filterRequest.raisedBy.stakeholderName}}</h3>
                      <p *ngIf="filterRequest && filterRequest.requestId  != '' || undefined">Movie Name :
                        {{filterRequest.project.projectName}}</p>
                      <p *ngIf="filterRequest && filterRequest.requestId  != '' || undefined">Request ID :
                        {{filterRequest.requestId}}</p>
                      <p *ngIf="filterRequest && filterRequest.requestSubject  != '' || undefined">Subject :
                        {{filterRequest.requestSubject}}</p>
                    </div>
                  </div>

                  <div class="ibox-content">

                    <div class="row">
                      <div class="col-lg-3 col-md-4">
                        <div class="form-group chat-search-box">
                          <input [(ngModel)]="queryString" type="text" class="form-control" placeholder="Search">
                        </div>
                        <div class="chat-users">
                          <div class="users-list"
                            *ngFor="let PendingRequest of pendingRequest | searchPipe  : queryString : 'stakeholderName' ">
                            <div class="chat-user">
                              <img class="chat-avatar" src="/assets/img/prf-img.png" alt="">
                              <div class="chat-user-name" *ngIf="PendingRequest && PendingRequest._id != undefined">
                                <a
                                  (click)="requests(PendingRequest._id)">{{PendingRequest.raisedBy.stakeholderName}}</a>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="col-lg-9 col-md-8">
                        <div class="chat-discussion">

                          <div class="chat-message left">
                            <img class="message-avatar" src="/assets/img/prf-img.png" alt="">
                            <div class="message">
                              <a class="message-author" routerLink="/stakeholders-details/{{filterRequest.raisedBy._id}}"
                                *ngIf="filterRequest && filterRequest.raisedBy && filterRequest.raisedBy.stakeholderName != '' || undefined">
                                {{filterRequest.raisedBy.stakeholderName}} </a>
                              <span class="message-date"
                                *ngIf="filterRequest && filterRequest.requestDate != undefined">
                                {{filterRequest.requestDate  | date : 'EEE MMMM d y - h:mm:ss a' }}</span>
                              <!-- Mon Jan 26 2015 - 18:39:23 -->
                              <span class="message-content"
                                *ngIf="filterRequest && filterRequest.requestDescription != undefined">
                                {{filterRequest.requestDescription}}
                              </span>
                            </div>
                          </div>
                          <div *ngIf="filterRequest && filterRequest.comments != undefined">
                            <div *ngFor="let FilterRequest of filterRequest.comments">
                              <div class="chat-message right" *ngIf="FilterRequest.commentBy.isSuperAdmin==false">
                                <img class="message-avatar" src="/assets/img/prf-img.png" alt="">
                                <div class="message">
                                  <a class="message-author" href="#"> Admin </a>
                                  <span class="message-date">
                                    {{FilterRequest.date | date : 'EEE MMMM d y - h:mm:ss a' }}
                                  </span>
                                  <span class="message-content">
                                    {{FilterRequest.commentDescription}}
                                  </span>
                                </div>
                              </div>
                              <div class="chat-message left" *ngIf="FilterRequest.commentBy.isSuperAdmin!=false">
                                <img class="message-avatar" src="/assets/img/prf-img.png" alt="">
                                <div class="message">
                                  <a class="message-author" href="#"> Admin </a>
                                  <span class="message-date">
                                    {{FilterRequest.date | date : 'EEE MMMM d y - h:mm:ss a' }}
                                  </span>
                                  <span class="message-content">
                                    {{FilterRequest.commentDescription}}
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>

                      </div>

                    </div>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="chat-message-form">
                            <div class="form-group">
                              <textarea formControlName="comments" class="form-control message-input" name="message"
                                placeholder="Enter message text" [(ngModel)]="comment"
                                [attr.disabled]="disabled ? '' : null"></textarea>
                              <!-- <div class="alert alert-danger">
                            <div *ngIf="comments.errors.required">Field can't be empty</div>
                          </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                    <br>
                    <div class="clearfix my-btn-grp">
                      <!-- <button class="btn btn-primary m-t" type="submit">Open Issue</button> -->
                      <button class="btn btn-primary m-t" type="submit" (click)="resolveIssues()"
                        [disabled]="disabled">Resolve Issues</button>
                      <button class="btn btn-primary m-t" type="submit" (click)="newComment()"
                        [disabled]="!form.valid">Send</button>
                    </div>

                  </div>

                </div>
              </div>
           
            <div class="dashboard-blank" *ngIf="blank==true">
              <!-- <p>Hello, <strong>XYZ.</strong> Welcome to the portal.</p> -->
              <p>Hey! No Data Found.</p>
            </div>
             </div>
            <!-- --------------------------------------------------- -->
            <!-- MY ISSUES -->
            <!-- --------------------------------------------------- -->
            <div *ngIf="myIssues == true">
              MYISSUES
              <div class="support-req-details" *ngIf="blank!=true">
                <div class="ibox chat-view">

                  <div class="user-heading clearfix">
                    <div class="image">
                      <img src="/assets/img/prf-img.png" alt="">
                    </div>
                    <div class="text">
                      <h3
                        *ngIf="filterRequest && filterRequest.raisedBy && filterRequest.raisedBy.stakeholderName != '' || undefined">
                        {{filterRequest.raisedBy.stakeholderName}}</h3>
                      <p *ngIf="filterRequest && filterRequest.requestId  != '' || undefined">Movie Name :
                        {{filterRequest.project.projectName}}</p>
                      <p *ngIf="filterRequest && filterRequest.requestId  != '' || undefined">Request ID :
                        {{filterRequest.requestId}}</p>
                      <p *ngIf="filterRequest && filterRequest.requestSubject  != '' || undefined">Subject :
                        {{filterRequest.requestSubject}}</p>
                    </div>
                  </div>

                  <div class="ibox-content">

                    <div class="row">
                      <div class="col-lg-3 col-md-4">
                        <div class="form-group chat-search-box">
                          <input [(ngModel)]="queryString" type="text" class="form-control" placeholder="Search">
                        </div>
                        <div class="chat-users">
                          <div class="users-list"
                            *ngFor="let PendingRequest of pendingRequest | searchPipe  : queryString : 'stakeholderName' ">
                            <div class="chat-user">
                              <img class="chat-avatar" src="/assets/img/prf-img.png" alt="">
                              <div class="chat-user-name" *ngIf="PendingRequest && PendingRequest._id != undefined">
                                <a
                                  (click)="requests(PendingRequest._id)">{{PendingRequest.raisedBy.stakeholderName}}</a>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="col-lg-9 col-md-8">
                        <div class="chat-discussion">

                          <div class="chat-message left">
                            <img class="message-avatar" src="/assets/img/prf-img.png" alt="">
                            <div class="message">
                              <a class="message-author" href="#"
                                *ngIf="filterRequest && filterRequest.raisedBy && filterRequest.raisedBy.stakeholderName != '' || undefined">
                                {{filterRequest.raisedBy.stakeholderName}} </a>
                              <span class="message-date"
                                *ngIf="filterRequest && filterRequest.requestDate != undefined">
                                {{filterRequest.requestDate  | date : 'EEE MMMM d y - h:mm:ss a' }}</span>
                              <!-- Mon Jan 26 2015 - 18:39:23 -->
                              <span class="message-content"
                                *ngIf="filterRequest && filterRequest.requestDescription != undefined">
                                {{filterRequest.requestDescription}}
                              </span>
                            </div>
                          </div>
                          <div *ngIf="filterRequest && filterRequest.comments != undefined">
                            <div *ngFor="let FilterRequest of filterRequest.comments">
                              <div class="chat-message right" *ngIf="FilterRequest.commentBy.isSuperAdmin==false">
                                <img class="message-avatar" src="/assets/img/prf-img.png" alt="">
                                <div class="message">
                                  <a class="message-author" href="#"> Admin </a>
                                  <span class="message-date">
                                    {{FilterRequest.date | date : 'EEE MMMM d y - h:mm:ss a' }}
                                  </span>
                                  <span class="message-content">
                                    {{FilterRequest.commentDescription}}
                                  </span>
                                </div>
                              </div>
                              <div class="chat-message left" *ngIf="FilterRequest.commentBy.isSuperAdmin!=false">
                                <img class="message-avatar" src="/assets/img/prf-img.png" alt="">
                                <div class="message">
                                  <a class="message-author" href="#"> Admin </a>
                                  <span class="message-date">
                                    {{FilterRequest.date | date : 'EEE MMMM d y - h:mm:ss a' }}
                                  </span>
                                  <span class="message-content">
                                    {{FilterRequest.commentDescription}}
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>

                      </div>

                    </div>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="chat-message-form">
                            <div class="form-group">
                              <textarea formControlName="comments" class="form-control message-input" name="message"
                                placeholder="Enter message text" [(ngModel)]="comment"
                                [attr.disabled]="disabled ? '' : null"></textarea>
                              <!-- <div class="alert alert-danger">
                                  <div *ngIf="comments.errors.required">Field can't be empty</div>
                                </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                    <br>
                    <div class="clearfix my-btn-grp">
                      <!-- <button class="btn btn-primary m-t" type="submit">Open Issue</button> -->
                      <button class="btn btn-primary m-t" type="submit" (click)="resolveIssues()"
                        [disabled]="disabled">Resolve Issues</button>
                      <button class="btn btn-primary m-t" type="submit" (click)="newComment()"
                        [disabled]="!form.valid">Send</button>
                    </div>

                  </div>

                </div>
              </div>
              <div class="dashboard-blank" *ngIf="blank==true">
                <!-- <p>Hello, <strong>XYZ.</strong> Welcome to the portal.</p> -->
                <p>Hey! No Data Found.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>