<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="breadcrumb-main">
            <ol class="breadcrumb">
              <li><a routerLink='/dashboard'>Dashboard</a></li>
              <li><a routerLink='/project-details'>The Escape</a></li>
              <li class="active">Insights</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="ibox">
        <div class="ibox-content payout-part">
          <div class="title-part clearfix">
            <h2>Progress to Payout</h2>
            <a routerLink='/progress-to-payout'>View All</a>
          </div>
          <div class="text-center">
            <img src="/assets/img/progress-chart.jpg" alt="">
          </div>
          <h3 class="text-center">Magic Number : $ 30M </h3>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="title-part clearfix">
            <h2>Sales Income</h2>
            <a routerLink='/sales-income'>View All</a>
            <h3>Total Transactions: $125000.00</h3>
          </div>
          <p class="text-right"><strong>Last Payment Date</strong>: 20/01/2019</p>
          <div class="coman-table table-responsive">

            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>Source</th>
                  <th>Name</th>
                  <th>Role</th>
                  <th>Country</th>
                  <th>Amount</th>
                  <th>Date</th>
                </tr>
                <tr>
                  <td>Box office Mojo</td>
                  <td>Bleeker Street</td>
                  <td>Domestic Distributor</td>
                  <td>USA</td>
                  <td>$1400000</td>
                  <td>01/11/2019</td>
                </tr>
                <tr>
                  <td>Box office Mojo</td>
                  <td>The Jokers</td>
                  <td>Foreign Distrubutor</td>
                  <td>France</td>
                  <td>$225000</td>
                  <td>01/11/2019</td>
                </tr>
                <tr>
                  <td>Comscore.com</td>
                  <td>AMC Theaters</td>
                  <td>Theater Chain</td>
                  <td>USA</td>
                  <td>$650000</td>
                  <td>01/11/2019</td>
                </tr>
                <tr>
                  <td>Box office Mojo</td>
                  <td>Koch</td>
                  <td>Foreign Distributor</td>
                  <td>Germany</td>
                  <td>$425000</td>
                  <td>01/11/2019</td>
                </tr>




              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="title-part clearfix">
            <h2>Theatrical Statistics</h2>
            <a routerLink='/theatrical-statistic'>View All</a>
          </div>
          <div class="theatrical-part">
            <h3>Weekend No. : 11</h3>
            <div class="box">
              <h4>+7% <i class="fa fa-long-arrow-up" aria-hidden="true"></i></h4>
              <p><strong>Gross Per Screen: $2000</strong> Last Weekend: $1860</p>
            </div>
            <div class="box">
              <h4>+15% <i class="fa fa-long-arrow-up" aria-hidden="true"></i></h4>
              <p><strong>No. Of Theatres: 1500</strong> Last Weekend: 1275</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="title-part clearfix">
            <h2>Sales Graph </h2>
            <a routerLink='/sales-graph'>View All</a>
            <div class="tl-box">
              <select class="form-control">
                <option>This Week</option>
                <option>This Month</option>
                <option>This Year</option>
              </select>
            </div>
          </div>
          <div class="text-center">
            <img src="/assets/img/sales-chart.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="title-part clearfix">
            <h2>Global Sales Report</h2>
            <a routerLink='/global-sales-report'>View All</a>
          </div>
          <div class="text-center">
            <img src="/assets/img/global-chart.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="title-part clearfix">
            <h2>Sales Distribution</h2>
            <a href='/sales-distribution'>View All</a>
          </div>
          <div class="text-center">
            <img src="/assets/img/sales-chart2.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="title-part clearfix">
            <h2>Money Paid Out</h2>
            <a routerLink='/money-paid'>View All</a>
            <h3>Total Money Paid: $125000.00</h3>
            <div class="tl-box">
              <label>Priority:</label>
              <select class="form-control">
                <option>1st Phase</option>
              </select>
            </div>
            <div class="tl-box">
              <label>Role: </label>
              <select class="form-control">
                <option>Online</option>
              </select>
            </div>
          </div>
          <div class="coman-table table-responsive">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>Stakeholder</th>
                  <th>Role</th>
                  <th>Payment </th>
                  <th>Description of Payment</th>
                  <th>Priority</th>
                  <th>Percentage</th>
                </tr>
                <tr>
                  <td>Union Entertainment Group</td>
                  <td>Production Company, Investor</td>
                  <td></td>
                  <td>Net Profits</td>
                  <td>Phase Five</td>
                  <td>50%</td>
                </tr>
                <tr>
                  <td>Noah Haeussner</td>
                  <td>Producer</td>
                  <td></td>
                  <td>Net Profits</td>
                  <td>Phase Five</td>
                  <td>50%</td>
                </tr>
                <tr>
                  <td>Lionsgate</td>
                  <td>Production Company</td>
                  <td>$250000</td>
                  <td>Turnaround Reimbursement</td>
                  <td>Phase Three</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Lillian Ghodoushim</td>
                  <td>Investor</td>
                  <td>$500000</td>
                  <td>Recoupment of Investment</td>
                  <td>Phase Two</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Einar Thorsteinson</td>
                  <td>Investor</td>
                  <td>$500000</td>
                  <td>Recoupment of Investment</td>
                  <td>Phase Two</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Dev Patel</td>
                  <td>Talent</td>
                  <td>$450000</td>
                  <td>Deferments</td>
                  <td>Phase Four</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Union Editorial</td>
                  <td>Loan</td>
                  <td>$250000</td>
                  <td>Repayment of Loan</td>
                  <td>Phase One</td>
                  <td></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="title-part clearfix">
            <h2>Take/Collection</h2>
            <a routerLink='/gross-revenue'>View All</a>
            <h3>Gross Revenue: $125000.00</h3>
            <div class="tl-box">
              <label>Date:</label>
              <input class="form-control" type="text">
            </div>
            <div class="tl-box">
              <label>Role: </label>
              <select class="form-control">
                <option>Online</option>
              </select>
            </div>
          </div>
          <div class="coman-table table-responsive">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>Distributor</th>
                  <th>Country</th>
                  <th>Take</th>
                  <th>Collections</th>
                  <th>Date into Account</th>
                </tr>
                <tr>
                  <td>Bleeker Street</td>
                  <td>Domestic</td>
                  <td>$300000</td>
                  <td>$550000</td>
                  <td>01/02/2019</td>
                </tr>
                <tr>
                  <td>The Jokers</td>
                  <td>France</td>
                  <td>$115000</td>
                  <td>$175000</td>
                  <td>01/02/2019</td>
                </tr>
                <tr>
                  <td>Netflix</td>
                  <td>Worldwide</td>
                  <td>$750000</td>
                  <td>$750000</td>
                  <td>05/30/2019</td>
                </tr>
                <tr>
                  <td>Elevation</td>
                  <td>Canada</td>
                  <td>$150000</td>
                  <td>$145000</td>
                  <td>01/02/2019</td>
                </tr>
                <tr>
                  <td>Pegasus</td>
                  <td>Iceland</td>
                  <td>$75000</td>
                  <td>$50000</td>
                  <td>02/06/2019</td>
                </tr>
                <tr>
                  <td>Koch</td>
                  <td>Germany</td>
                  <td>$225000</td>
                  <td>$350000</td>
                  <td>01/02/2019</td>
                </tr>
                <tr>
                  <td>Signature</td>
                  <td>UK</td>
                  <td>$300000</td>
                  <td>$350000</td>
                  <td>01/02/2019</td>
                </tr>
                <tr>
                  <td>Movie Cloud</td>
                  <td>Taiwan</td>
                  <td>$100000</td>
                  <td>$90000</td>
                  <td>02/06/2019</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="title-part clearfix">
            <h2>Waterfall (Recoupment schedule)</h2>
            <a routerLink='/project-stakeholders'>View All</a>
          </div>
          <div class="coman-table table-responsive">
            <table class="table table-bordered">
              <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Priority</th>
              </tr>
              <tr>
                <td>Union Entertainment Group</td>
                <td>Investor</td>
                <td>First Phase</td>
              </tr>
              <tr>
                <td>Noah Haeussner</td>
                <td>Producer</td>
                <td>Second Phase</td>
              </tr>
              <tr>
                <td>Lionsgate</td>
                <td>Production Company</td>
                <td>Third Phase</td>
              </tr>
              <tr>
                <td>Lillian Ghodoushim</td>
                <td>Investor</td>
                <td>Third Phase</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="title-part clearfix">
            <h2>Last Payment</h2>
            <a routerLink='/money-paid'>View All</a>
          </div>
          <div class="coman-table table-responsive">
            <table class="table table-bordered">
              <tr>
                <th>Payee</th>
                <th>Amount</th>
                <th>Date</th>
              </tr>
              <tr>
                <td>Union Entertainment Group</td>
                <td>$4500000</td>
                <td>03/25/2019</td>
              </tr>
              <tr>
                <td>Noah Haeussner</td>
                <td>$5000000</td>
                <td>03/24/2019</td>
              </tr>
              <tr>
                <td>Lionsgate</td>
                <td>$5500000</td>
                <td>03/23/2019</td>
              </tr>
              <tr>
                <td>Lillian Ghodoushim</td>
                <td>$6000000</td>
                <td>03/22/2019</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>