
  <div class="wrapper wrapper-content">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="ibox">
          <div class="ibox-content">
            <div class="row page-heading">
              <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12 top-title-bar">
                <h2>Notification Settings</h2>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-right">
              </div>
            </div>
            <div class="notification-setting-section">
              <h3>Notification when payment comes in.</h3>
              <div class="nf-box clearfix">
                <h4>For me only</h4>
                <div class="nf-switch">
                  <input type="checkbox">
                  <span></span>
                </div>
              </div>
              <div class="nf-box clearfix">
                <h4>For anyone</h4>
                <div class="nf-switch">
                  <input type="checkbox">
                  <span></span>
                </div>
              </div>
              <div class="nf-box clearfix">
                <h4>For A Perticular Stakeholder</h4>
                <p>DEF Production, Sony</p>
                <select class="form-control">
                  <option>Select Stakeholder</option>
                </select>
                <div class="nf-switch">
                  <input type="checkbox">
                  <span></span>
                </div>
              </div>
              <h3>Notification for a phase</h3>
              <div class="nf-box clearfix">
                <h4>When a new phase is reached</h4>
                <div class="nf-switch">
                  <input type="checkbox">
                  <span></span>
                </div>
              </div>
              <h3>Notification when a sales milestone is met</h3>
              <div class="nf-box clearfix">
                <h4>General sales milestone</h4>
                <div class="nf-switch">
                  <input type="checkbox">
                  <span></span>
                </div>
              </div>
              <div class="nf-box clearfix">
                <h4>Domestic sales milestone</h4>
                <div class="nf-switch">
                  <input type="checkbox">
                  <span></span>
                </div>
              </div>
              <div class="nf-box clearfix">
                <h4>Foreign sales milestone</h4>
                <p>UK</p>
                <select class="form-control">
                  <option>Select Country</option>
                </select>
                <div class="nf-switch">
                  <input type="checkbox">
                  <span></span>
                </div>
              </div>
              <div class="nf-box clearfix">
                <h4>Particular region sales milestone</h4>
                <p>Northeast, New England</p>
                <select class="form-control">
                  <option>Select Region</option>
                </select>
                <div class="nf-switch">
                  <input type="checkbox">
                  <span></span>
                </div>
              </div>
              <div class="nf-box clearfix">
                <h4>Particular Distributor sales milestone</h4>
                <p>Netflix</p>
                <select class="form-control">
                  <option>Select Distributor</option>
                </select>
                <div class="nf-switch">
                  <input type="checkbox">
                  <span></span>
                </div>
              </div>
              <h3>Notification when a new sales info is posted by UE</h3>
              <div class="nf-box clearfix">
                <h4>Sales graph</h4>
                <div class="nf-switch">
                  <input type="checkbox">
                  <span></span>
                </div>
              </div>
              <div class="nf-box clearfix">
                <h4>Sales distribution pie chart</h4>
                <div class="nf-switch">
                  <input type="checkbox">
                  <span></span>
                </div>
              </div>
              <div class="nf-box clearfix">
                <h4>Sales income info table</h4>
                <div class="nf-switch">
                  <input type="checkbox">
                  <span></span>
                </div>
              </div>
              <h3>Notification for support request</h3>
              <div class="nf-box clearfix">
                <h4>When a new support request arrives</h4>
                <div class="nf-switch">
                  <input type="checkbox">
                  <span></span>
                </div>
              </div>
              <div class="nf-box clearfix">
                <h4>When a response is sent to the stakeholder</h4>
                <div class="nf-switch">
                  <input type="checkbox">
                  <span></span>
                </div>
              </div>
              <h3>Notification for messages</h3>
              <div class="nf-box clearfix">
                <h4>When a new message is received</h4>
                <div class="nf-switch">
                  <input type="checkbox">
                  <span></span>
                </div>
              </div>

              <div class="clearfix">
                <button class="btn btn-primary">Save</button>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

