<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="breadcrumb-main">
            <ol class="breadcrumb">
              <li><a routerLink='/manage-project'>Manage Projects</a></li>
              <li><a routerLink='/project-details'>Projects Details</a></li>
              <li><a routerLink='/project-insight'>Projects Insights</a></li>
              <li class="active">Progress to Payout</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="row page-heading">
            <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12 top-title-bar">
              <h2>Progress to Payout</h2>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-right">

            </div>
          </div>

          <div class="global-sales-report-img-part text-center">
            <img src="/assets/img/progress-chart.jpg" alt="">
            <h3 class="text-center">Magic Number : $30.00</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="title-part clearfix">
            <h2>Take/Collection</h2>
            <a routerLink='/gross-revenue'>View All</a>
            <h3>Gross Revenue: $125000.00</h3>
            <div class="tl-box">
              <label>Date:</label>
              <input class="form-control" type="text">
            </div>
            <div class="tl-box">
              <label>Role: </label>
              <select class="form-control">
                <option>Online</option>
              </select>
            </div>
          </div>
          <div class="coman-table table-responsive">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>Distributor</th>
                  <th>Country</th>
                  <th>Take</th>
                  <th>Collections</th>
                  <th>Date into Account</th>
                </tr>
                <tr>
                  <td>Bleeker Street</td>
                  <td>Domestic</td>
                  <td>$300000</td>
                  <td>$550000</td>
                  <td>01/02/2019</td>
                </tr>
                <tr>
                  <td>The Jokers</td>
                  <td>France</td>
                  <td>$115000</td>
                  <td>$175000</td>
                  <td>01/02/2019</td>
                </tr>
                <tr>
                  <td>Netflix</td>
                  <td>Worldwide</td>
                  <td>$750000</td>
                  <td>$750000</td>
                  <td>05/30/2019</td>
                </tr>
                <tr>
                  <td>Elevation</td>
                  <td>Canada</td>
                  <td>$150000</td>
                  <td>$145000</td>
                  <td>01/02/2019</td>
                </tr>
                <tr>
                  <td>Pegasus</td>
                  <td>Iceland</td>
                  <td>$75000</td>
                  <td>$50000</td>
                  <td>02/06/2019</td>
                </tr>
                <tr>
                  <td>Koch</td>
                  <td>Germany</td>
                  <td>$225000</td>
                  <td>$350000</td>
                  <td>01/02/2019</td>
                </tr>
                <tr>
                  <td>Signature</td>
                  <td>UK</td>
                  <td>$300000</td>
                  <td>$350000</td>
                  <td>01/02/2019</td>
                </tr>
                <tr>
                  <td>Movie Cloud</td>
                  <td>Taiwan</td>
                  <td>$100000</td>
                  <td>$90000</td>
                  <td>02/06/2019</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>