<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="breadcrumb-main">
            <ol class="breadcrumb">
              <li><a routerLink='/manage-project'>Manage Projects</a></li>
              <li class="active">Project Stakeholders</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="row page-heading">
            <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12 top-title-bar">
              <h2>Project X Stakeholders</h2>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 text-right">
              <div class="add-btn">
                <a routerLink='/add-stakeholders' class="btn btn-primary">Add Stakeholder</a>
              </div>
            </div>
          </div>

          <div class="Stackholder-list table-responsive coman-table">
            <table class="table table-bordered table-striped">
              <tbody>
                <tr>
                  <th>Stakeholder</th>
                  <th>Role</th>
                  <th>Movies</th>
                  <th>Pending Support Requests</th>
                </tr>
                <tr>
                  <td>
                    <div class="table-user">
                      <img src="/assets/img/user-img-pr.png" alt="">
                    </div>
                    <h5><a routerLink='/stakeholders-details'>Union Entertainment Group</a></h5>
                  </td>
                  <td>
                    <span class="label label-info m-xxs">Production Company</span>
                    <span class="label label-info m-xxs">Investor</span>
                  </td>
                  <td>The Escape</td>
                  <td><a href="#"><span class="badge label-warning">1</span></a></td>
                </tr>
                <tr>
                  <td>
                    <div class="table-user">
                      <img src="/asstes/img/user-img-pr.png" alt="">
                    </div>
                    <h5><a routerLink='/stakeholders-details'>Noah Haeussner</a></h5>
                  </td>
                  <td>
                    <span class="label label-info m-xxs">Producer</span>
                  </td>
                  <td>The Escape</td>
                  <td> <a href="#"><span class="badge label-warning">1</span></a></td>
                </tr>
                <tr>
                  <td>
                    <div class="table-user">
                      <img src="/assets/img/user-img-pr.png" alt="">
                    </div>
                    <h5><a routerLink='/stakeholders-details'>Lionsgate</a></h5>
                  </td>
                  <td>
                    <span class="label label-info m-xxs">Production Company</span>
                  </td>
                  <td>The Escape</td>
                  <td> <a href="#"><span class="badge label-warning">0</span></a></td>
                </tr>
                <tr>
                  <td>
                    <div class="table-user">
                      <img src="/assets/img/user-img-pr.png" alt="">
                    </div>
                    <h5><a routerLink='/stakeholders-details'>Lillian Ghodoushim</a></h5>
                  </td>
                  <td>
                    <span class="label label-info m-xxs">Investor</span>
                  </td>
                  <td>The Escape</td>
                  <td> <a href="#"><span class="badge label-warning">0</span></a></td>
                </tr>
                <tr>
                  <td>
                    <div class="table-user">
                      <img src="/assets/img/user-img-pr.png" alt="">
                    </div>
                    <h5><a routerLink='/stakeholders-details'>Einar Thorsteinson</a></h5>
                  </td>
                  <td>
                    <span class="label label-info m-xxs">Investor</span>
                  </td>
                  <td>The Escape</td>
                  <td> <a href="#"><span class="badge label-warning">0</span></a></td>
                </tr>
                <tr>
                  <td>
                    <div class="table-user">
                      <img src="/assets/img/user-img-pr.png" alt="">
                    </div>
                    <h5><a routerLink='/stakeholders-details'>Dev Patel</a></h5>
                  </td>
                  <td>
                    <span class="label label-info m-xxs">Talent</span>
                  </td>
                  <td>The Escape</td>
                  <td> <a href="#"><span class="badge label-warning">2</span></a></td>
                </tr>
                <tr>
                  <td>
                    <div class="table-user">
                      <img src="/assets/img/user-img-pr.png" alt="">
                    </div>
                    <h5><a routerLink='/stakeholders-details'>Union Editorial</a></h5>
                  </td>
                  <td>
                    <span class="label label-info m-xxs">Loan</span>
                  </td>
                  <td>The Escape</td>
                  <td> <a href="#"><span class="badge label-warning">2</span></a></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="pagination-main">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">20</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>