<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="breadcrumb-main">
            <ol class="breadcrumb">
              <li><a routerLink='/manage-project'>Manage Projects</a></li>
              <li><a routerLink='/project-details'>Projects Details</a></li>
              <li><a routerLink='/project-insight'>Projects Insights</a></li>
              <li class="active">Theatrical Statistic</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="title-part clearfix">
            <h2>Theatrical Statistic</h2>
          </div>

          <div class="theatrical-top-form">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                  <select class="form-control">
                    <option>Weekend no</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                  <select class="form-control">
                    <option>Theatre Name</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group m-xs">
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Posivite Change
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Nagavite Change
                  </label>
                </div>
              </div>
            </div>
          </div>



          <div class="coman-table table-responsive">
            <table class="table table-bordered">
              <tr>
                <th>Weekend No.</th>
                <th>Theatre Name</th>
                <th>Gross per screen</th>
                <th>Total Screens</th>
                <th>Total Gross</th>
                <th>% Change</th>
              </tr>
              <tr>
                <td>2</td>
                <td>Regal Cinema</td>
                <td>$1000</td>
                <td>20</td>
                <td>$20000</td>
                <td>+5% <i class="fa fa-arrow-up cl-green" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Elcaption Cinema</td>
                <td>$2000</td>
                <td>20</td>
                <td>$20000</td>
                <td>+5% <i class="fa fa-arrow-down cl-red" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Regal Cinema</td>
                <td>$1000</td>
                <td>20</td>
                <td>$20000</td>
                <td>+5% <i class="fa fa-arrow-up cl-green" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Elcaption Cinema</td>
                <td>$2000</td>
                <td>20</td>
                <td>$20000</td>
                <td>+5% <i class="fa fa-arrow-down cl-red" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Regal Cinema</td>
                <td>$1000</td>
                <td>20</td>
                <td>$20000</td>
                <td>+5% <i class="fa fa-arrow-up cl-green" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Elcaption Cinema</td>
                <td>$2000</td>
                <td>20</td>
                <td>$20000</td>
                <td>+5% <i class="fa fa-arrow-down cl-red" aria-hidden="true"></i></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>